body {
    height: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
    background: rgb(0, 0, 0);
}

#root {
    height: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}

.container_all {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

/* ------------------------------------------------------------------------------------------------ */
/* 頁首  nav_bar */
.nav_bar {
    width: 100%;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: transparent;
}

.header_inner {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 1536px;
    margin: 0px auto;
}

.header_inner .logo {
    width: 190px;
    height: 48px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
}

.header_inner .logo a {
    opacity: 1;
    height: 16px;
    display: block;
    margin: 2px 0px 0px;
}

/* windows logo icon */
.header_inner .logo a svg {
    width: 16px;
}

.header_inner .logo a svg .microsoft-red {
    fill: rgb(255, 255, 255);
    transition: all 200ms linear 0ms;
}

.header_inner .logo a svg .microsoft-green {
    fill: rgb(255, 255, 255);
    transition: all 200ms linear 0ms;
}

.header_inner .logo a svg .microsoft-blue {
    fill: rgb(255, 255, 255);
    transition: all 200ms linear 0ms;
}

.header_inner .logo a svg .microsoft-yellow {
    fill: rgb(255, 255, 255);
    transition: all 200ms linear 0ms;
}

/* .header_inner .site_title */
.header_inner .site_title {
    height: 48px;
    width: auto;
    align-content: center;
    flex: 0 0 auto;
}

.header_inner .site_title h1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 49px;
}

.header_inner .site_title h1 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 200ms linear 0ms;
}
/* .header_inner .list_inner */
.header_inner .list_inner {
    height: 48px;
    flex: 1 1 auto;
    padding: 0px 120px 0px 420px;
}
.header_inner .list_inner .list_link{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header_inner .list_inner .list_link .link{
    width: auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 49px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.header_inner .list_inner .list_link .link a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 200ms linear 0ms;
}
.nav_bar button{
    font-family: inherit;
}
.nav_bar span{
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 200ms linear 0ms;
}

.nav_bar .mobile_pic{
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 48px;
    width: 48px;
    z-index: 100;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.nav_bar .mobile_pic .top{
    top: 17px;
    left: 12px;
    transform: rotate(0deg);
}

.nav_bar .mobile_pic .mid{
    top: 24px;
    left: 12px;
    opacity: 1;
}
.nav_bar .mobile_pic .bottom{
    top: 31px;
    left: 12px;
    transform: rotate(0deg);
}

.nav_bar .mobile_menu{
    
}
/* ------------------------------------------------------------------------------------------------ */
/* 主頁內容 style_main */
.style_main {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    margin: 48px 0px 0px;
}

/* 第7層space */
.space_img {
    width: 100%;
    min-height: 768px;
    background: url(https://www.microsoft.com/design/fluent/assets/images/space.jpg) 50% center / cover no-repeat fixed rgb(0, 0, 0);
}



/* 底部選單 */
.bt_link_icon svg {
    max-width: 20px;
    height: auto;
}

/* ------------------------------------------------------------------------------------------------ */

/* 底層 footer_all*/
.footer_all {
    width: 100%;
    height: 48px;
}

.footer_inner {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1536px;
    margin: 0px auto;
}

.footer_logo {
    width: 190px;
    height: 48px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
}

.footer_logo svg {
    width: 16px;
}

.footer_nav {
    height: 48px;
    flex: 1 1 auto;
    padding: 0px 100px 0px 0px;
}

.footer_nav_link_all {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer_nav_link {
    width: auto;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 48px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.footer_nav_link a {
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
}

.footer_icon_link svg {
    width: 20px;
}