@import url("../css/_index_vue.css");
* {
  margin: 0;
  padding: 0;
}

* body {
  width: 100%;
  height: 100vh;
}

* body #container {
  width: 100%;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

* body #container nav {
  width: 100%;
  min-height: 70px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1;
}

* body #container nav .logo {
  margin-left: 5%;
}

* body #container nav ul {
  margin-right: 5%;
  list-style: none;
}

@media (max-width: 768px) {
  * body #container nav ul.active {
    pointer-events: all;
    -webkit-clip-path: circle(80% at 50% 0);
            clip-path: circle(80% at 50% 0);
  }
}

@media (max-width: 768px) {
  * body #container nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 70px;
    pointer-events: none;
    -webkit-clip-path: circle(0% at 50% 0);
            clip-path: circle(0% at 50% 0);
  }
}

* body #container nav ul li {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 768px) {
  * body #container nav ul li {
    line-height: 4;
  }
}

* body #container nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

* body #container nav ul li a.active, * body #container nav ul li a:hover {
  color: #16a085;
  border-color: #16a085;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  * body #container nav ul li a {
    font-size: 20px;
  }
}

* body #container nav .hanBar {
  margin-right: 5%;
  cursor: pointer;
  z-index: 10;
  display: none;
}

* body #container nav .hanBar span {
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 5px;
  background: #16a085;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (max-width: 768px) {
  * body #container nav .hanBar {
    display: block;
  }
}

* body #container nav .hanBar.active .one {
  -webkit-transform: rotate(45deg) translateY(-3px);
          transform: rotate(45deg) translateY(-3px);
}

* body #container nav .hanBar.active .two {
  opacity: 0;
}

* body #container nav .hanBar.active .three {
  -webkit-transform: rotate(-45deg) translateY(3px);
          transform: rotate(-45deg) translateY(3px);
}

* body #container .banner {
  width: 100%;
}

* body #container .banner img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* body #container .banner .leftBtm {
  cursor: pointer;
  width: 100px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100px;
  background: gray;
  border-radius: 50%;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px;
  margin-left: 20px;
  color: white;
}

* body #container .banner .leftBtm:hover {
  background: #000;
}

* body #container .banner .rightBtm {
  cursor: pointer;
  line-height: 100px;
  width: 100px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: gray;
  border-radius: 50%;
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px;
  margin-right: 20px;
  color: white;
}

* body #container .banner .rightBtm:hover {
  background: #000;
}

* body #container .banner .bannerInfo {
  color: white;
  background: #000;
  position: absolute;
  top: 30%;
  right: 30%;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 5px 20px wheat;
          box-shadow: 3px 5px 20px wheat;
}

* body #container .banner .bannerInfo .aboutBtn {
  color: white;
  text-decoration: none;
  background: #000;
}

* body #container .protfolio {
  width: 100%;
  background: #000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #container .card {
  margin: 0 10px;
}
/*# sourceMappingURL=index_vue.css.map */