@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+TC:wght@100&display=swap");
*,
html {
  margin: 0;
  padding: 0;
}

* body,
html body {
  width: 100%;
  height: 100%;
}

* body #evan,
html body #evan {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body #evan .container,
html body #evan .container {
  width: 80%;
  height: 90%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #evan .container .left_photo,
html body #evan .container .left_photo {
  width: 35%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

* body #evan .container .left_photo img,
html body #evan .container .left_photo img {
  width: auto;
  height: 100%;
  -webkit-transform: translate(-150px, 0px);
          transform: translate(-150px, 0px);
}

* body #evan .container .left_photo .nav_tool,
html body #evan .container .left_photo .nav_tool {
  width: 80px;
  height: 400px;
  position: absolute;
  top: 0%;
  right: 0;
  background: #fff;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

* body #evan .container .left_photo .nav_tool a,
html body #evan .container .left_photo .nav_tool a {
  width: 100%;
  height: calc(100% / 3);
  cursor: pointer;
  color: #000;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8em;
}

* body #evan .container .left_photo .nav_tool a:hover,
html body #evan .container .left_photo .nav_tool a:hover {
  color: white;
  background: gray;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body #evan .container .left_photo .nav_tool a:nth-child(1).active, * body #evan .container .left_photo .nav_tool a:nth-child(3).active, * body #evan .container .left_photo .nav_tool a:nth-child(5).active,
html body #evan .container .left_photo .nav_tool a:nth-child(1).active,
html body #evan .container .left_photo .nav_tool a:nth-child(3).active,
html body #evan .container .left_photo .nav_tool a:nth-child(5).active {
  color: white;
  background: red;
  border: none;
}

* body #evan .container .left_photo .nav_tool a:nth-child(2).active, * body #evan .container .left_photo .nav_tool a:nth-child(4).active,
html body #evan .container .left_photo .nav_tool a:nth-child(2).active,
html body #evan .container .left_photo .nav_tool a:nth-child(4).active {
  color: white;
  background: #000;
  border: none;
}

* body #evan .container .left_photo .icon_link,
html body #evan .container .left_photo .icon_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  list-style: none;
}

* body #evan .container .left_photo .icon_link a,
html body #evan .container .left_photo .icon_link a {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

* body #evan .container .left_photo .icon_link a i,
html body #evan .container .left_photo .icon_link a i {
  color: #fff;
  font-size: 30px;
}

* body #evan .container .left_photo .icon_link a p,
html body #evan .container .left_photo .icon_link a p {
  color: #fff;
  margin-left: 5px;
  display: none;
}

* body #evan .container .left_photo .icon_link a.active,
html body #evan .container .left_photo .icon_link a.active {
  width: 180px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

* body #evan .container .left_photo .icon_link a.active p,
html body #evan .container .left_photo .icon_link a.active p {
  display: block;
}

* body #evan .container .left_photo .icon_link a:hover,
html body #evan .container .left_photo .icon_link a:hover {
  width: 200px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

* body #evan .container .left_photo .icon_link a:hover p,
html body #evan .container .left_photo .icon_link a:hover p {
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}

* body #evan .container .left_photo h1,
html body #evan .container .left_photo h1 {
  font-size: 80px;
  font-weight: 500;
  color: #cc9933;
  position: absolute;
  top: 5%;
  -webkit-transform: rotatez(-15deg);
          transform: rotatez(-15deg);
  z-index: -1;
  font-family: "Kaushan Script", cursive;
}

* body #evan .container .right_list,
html body #evan .container .right_list {
  width: 65%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  border-radius: 0 10px 10px 10px;
  overflow: hidden;
}

* body #evan .container .right_list .experience,
* body #evan .container .right_list .myWorks,
* body #evan .container .right_list .myillustration,
* body #evan .container .right_list .Summary,
* body #evan .container .right_list .contact_info,
html body #evan .container .right_list .experience,
html body #evan .container .right_list .myWorks,
html body #evan .container .right_list .myillustration,
html body #evan .container .right_list .Summary,
html body #evan .container .right_list .contact_info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body #evan .container .right_list .experience,
html body #evan .container .right_list .experience {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
}

* body #evan .container .right_list .experience h1,
html body #evan .container .right_list .experience h1 {
  color: #000;
  font-weight: bold;
  font-size: 2em;
  text-align: start;
  width: 50%;
}

* body #evan .container .right_list .experience div,
html body #evan .container .right_list .experience div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 5px;
}

* body #evan .container .right_list .experience div h3,
html body #evan .container .right_list .experience div h3 {
  font-size: 1.2em;
  text-align: start;
}

* body #evan .container .right_list .experience div h3 i,
html body #evan .container .right_list .experience div h3 i {
  margin-right: 5px;
}

* body #evan .container .right_list .experience div p,
html body #evan .container .right_list .experience div p {
  font-size: 1.2em;
  text-align: start;
}

* body #evan .container .right_list .experience div p i,
html body #evan .container .right_list .experience div p i {
  margin-right: 5px;
}

* body #evan .container .right_list .myWorks,
html body #evan .container .right_list .myWorks {
  overflow-y: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* body #evan .container .right_list .myWorks h1,
html body #evan .container .right_list .myWorks h1 {
  font-size: 2em;
  text-align: center;
  width: 100%;
}

* body #evan .container .right_list .myWorks div,
html body #evan .container .right_list .myWorks div {
  width: calc(100% / 2.5);
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

* body #evan .container .right_list .myWorks div:hover,
html body #evan .container .right_list .myWorks div:hover {
  border: none;
  background: #000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

* body #evan .container .right_list .myWorks div:hover p,
html body #evan .container .right_list .myWorks div:hover p {
  color: #fff;
}

* body #evan .container .right_list .myWorks div p,
html body #evan .container .right_list .myWorks div p {
  text-align: center;
  font-size: 1em;
  color: #000;
}

* body #evan .container .right_list .myWorks div img,
html body #evan .container .right_list .myWorks div img {
  width: 100%;
}

* body #evan .container .right_list .myillustration,
html body #evan .container .right_list .myillustration {
  overflow-y: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

* body #evan .container .right_list .myillustration h1,
html body #evan .container .right_list .myillustration h1 {
  font-size: 2em;
  text-align: center;
  width: 100%;
}

* body #evan .container .right_list .myillustration div,
html body #evan .container .right_list .myillustration div {
  width: calc(100% / 3.5);
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

* body #evan .container .right_list .myillustration div:hover,
html body #evan .container .right_list .myillustration div:hover {
  border: none;
  background: red;
  -webkit-transition: all 1s;
  transition: all 1s;
}

* body #evan .container .right_list .myillustration div:hover p,
html body #evan .container .right_list .myillustration div:hover p {
  color: #fff;
}

* body #evan .container .right_list .myillustration div p,
html body #evan .container .right_list .myillustration div p {
  text-align: center;
  font-size: 1em;
  color: #000;
}

* body #evan .container .right_list .myillustration div img,
html body #evan .container .right_list .myillustration div img {
  width: 100%;
}

* body #evan .container .right_list .Summary,
html body #evan .container .right_list .Summary {
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  cursor: default;
}

* body #evan .container .right_list .Summary h1,
html body #evan .container .right_list .Summary h1 {
  font-size: 2em;
}

* body #evan .container .right_list .Summary h2,
html body #evan .container .right_list .Summary h2 {
  font-size: 1.5em;
  width: 80%;
}

* body #evan .container .right_list .contact_info,
html body #evan .container .right_list .contact_info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* body #evan .container .right_list .contact_info h1,
html body #evan .container .right_list .contact_info h1 {
  font-size: 1.5em;
  text-align: end;
  width: calc(100% / 2);
  padding-right: 10px;
  color: #fff;
  background: red;
  cursor: default;
}

* body #evan .container .right_list .contact_info div,
html body #evan .container .right_list .contact_info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 2);
  padding-left: 10px;
}

* body #evan .container .right_list .contact_info div a,
html body #evan .container .right_list .contact_info div a {
  text-align: start;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}

* body #evan .container .right_list .contact_info div a i,
html body #evan .container .right_list .contact_info div a i {
  font-size: 2em;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body #evan .container .right_list .contact_info div a i:hover,
html body #evan .container .right_list .contact_info div a i:hover {
  color: red;
}

* body #evan .popInfo,
html body #evan .popInfo {
  width: 80%;
  height: 90%;
  background: #fff;
  position: fixed;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  border-radius: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* body #evan .popInfo button,
html body #evan .popInfo button {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

* body #evan .popInfo button:hover,
html body #evan .popInfo button:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  background: #000;
}

* body #evan .popInfo .left_photo,
html body #evan .popInfo .left_photo {
  width: calc(100% / 2);
  height: 100%;
  position: relative;
  overflow: auto;
  padding: 10px;
  background: #000;
}

* body #evan .popInfo .left_photo img,
html body #evan .popInfo .left_photo img {
  width: 100%;
  height: 100%;
}

* body #evan .popInfo .left_photo a,
html body #evan .popInfo .left_photo a {
  width: 30px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  position: absolute;
  top: 200px;
}

* body #evan .popInfo .left_photo .btn_prev,
html body #evan .popInfo .left_photo .btn_prev {
  left: 30px;
}

* body #evan .popInfo .left_photo .btn_next,
html body #evan .popInfo .left_photo .btn_next {
  right: 30px;
}

* body #evan .popInfo .right_text,
html body #evan .popInfo .right_text {
  width: calc(100% / 2);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #evan .popInfo .right_text h1,
html body #evan .popInfo .right_text h1 {
  font-size: 1.5em;
}

* body #evan .popInfo .right_text p,
html body #evan .popInfo .right_text p {
  font-size: 1em;
}
/*# sourceMappingURL=index_resume_1.css.map */