@import url("https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
  font-size: 300px;
}

body .boxContent .object1 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -5%;
  left: 15%;
  background: #00e1ff;
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
  font-size: 150px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px black;
}

@media (max-width: 767px) {
  body .boxContent .object1 {
    left: -20%;
    top: 0;
  }
}

body .boxContent .object2 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 105%;
  left: 66%;
  background: deeppink;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
          clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

body .boxContent .object3 {
  width: 472px;
  height: 520px;
  position: absolute;
  top: 136%;
  left: 28%;
  background-image: url("/img/mont.png");
  background-position: center;
  background-size: cover;
}

body .boxContent .object4 {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 30%;
  left: 45%;
  background-image: url("/img/globe-1348777_1920.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
  border-radius: 50%;
}

@media (max-width: 767px) {
  body .boxContent .object4 {
    width: 200px;
    height: 200px;
    top: 80%;
  }
}

body .boxContent .object5 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100%;
  left: 45%;
  background: #ddca23;
  border-radius: 50%;
}

body .boxContent .object6 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 220%;
  left: 45%;
  background: #23dd23;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 30px;
  text-align: center;
  color: white;
}

body .boxContent .object7 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 130%;
  left: 70%;
  background: #056905;
  border-radius: 50%;
}

body .textContent .thing1 {
  position: absolute;
  top: 0;
  left: 10%;
  /* E */
}

@media (max-width: 767px) {
  body .textContent .thing1 {
    color: white;
  }
}

body .textContent .thing2 {
  position: absolute;
  top: 70%;
  left: 23%;
  /* v */
  color: teal;
}

@media (max-width: 767px) {
  body .textContent .thing2 {
    font-size: 200px;
    display: none;
  }
}

body .textContent .thing2-1 {
  position: absolute;
  top: 70%;
  left: 23%;
  /* elcom */
  color: teal;
  display: none;
}

@media (max-width: 767px) {
  body .textContent .thing2-1 {
    font-size: 100px;
    top: 45%;
    left: 10%;
    color: salmon;
    display: block;
  }
}

body .textContent .thing3 {
  position: absolute;
  top: 40%;
  left: 50%;
  /* a */
  color: tomato;
}

@media (max-width: 767px) {
  body .textContent .thing3 {
    font-size: 150px;
    left: 70%;
  }
}

body .textContent .thing4 {
  position: absolute;
  top: 90%;
  left: 75%;
  /* N */
}

@media (max-width: 767px) {
  body .textContent .thing4 {
    font-size: 220px;
    left: 60%;
  }
}

body .textContent .thing5 {
  position: absolute;
  top: 130%;
  left: 20%;
  /* H */
}

body .textContent .thing6 {
  position: absolute;
  top: 150%;
  left: 60%;
  /* s */
}

@media (max-width: 767px) {
  body .textContent .thing6 {
    font-size: 120px;
  }
}

body .textContent .thing7 {
  position: absolute;
  top: 220%;
  left: 15%;
  /* i */
}

@media (max-width: 767px) {
  body .textContent .thing7 {
    font-size: 120px;
  }
}

body .textContent .thing8 {
  position: absolute;
  top: 250%;
  left: 30%;
  /* A */
}

@media (max-width: 767px) {
  body .textContent .thing8 {
    font-size: 120px;
  }
}

body .textContent .thing9 {
  position: absolute;
  top: 230%;
  left: 50%;
  /* o */
}

@media (max-width: 767px) {
  body .textContent .thing9 {
    font-size: 120px;
  }
}

body .bgText {
  color: rgba(236, 236, 236, 0.808);
  font-size: 250px;
}
/*# sourceMappingURL=index_rellax.css.map */