@import url("../css/_index_login.scss");
* {
  margin: 0;
  padding: 0;
}

* body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 1024px) {
  * body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* body #leftImg {
  width: 30%;
  height: 100vh;
  background-image: url("/img/P_20190427_184241_vHDR_On.jpg");
  background-position: center;
  background-size: cover;
  color: #faedb6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1024px) {
  * body #leftImg {
    width: 100%;
    height: 30vh;
  }
}

* body #leftImg .text {
  padding: 15px;
  text-transform: uppercase;
  text-align: end;
  font-family: "Monoton", cursive;
  font-size: 65px;
}

@media (max-width: 1024px) {
  * body #leftImg .text {
    font-size: 50px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  * body #leftImg .text {
    font-size: 35px;
    padding: 10px;
  }
}

@media (max-width: 414px) {
  * body #leftImg .text {
    font-size: 30px;
    padding-bottom: 0px;
  }
}

* body #leftImg span {
  width: 70%;
  font-family: "Baloo Paaji 2", cursive;
  text-align: end;
  padding: 15px;
  line-height: 20px;
  color: white;
}

@media (max-width: 1024px) {
  * body #leftImg span {
    width: 50%;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  * body #leftImg span {
    font-size: 18px;
    line-height: 15px;
    padding: 10px;
    width: 70%;
  }
}

@media (max-width: 414px) {
  * body #leftImg span {
    padding-top: 5px;
    line-height: 12px;
    font-size: 10px;
  }
}

* body #loginUser {
  font-family: "Baloo Paaji 2", cursive;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  * body #loginUser {
    width: 100%;
    height: 70vh;
  }
}

* body #loginUser img {
  width: 20%;
  height: 30%;
  -webkit-animation: midPic 4s ease-in-out infinite;
          animation: midPic 4s ease-in-out infinite;
}

@media (max-width: 1024px) {
  * body #loginUser img {
    width: 25%;
  }
}

@media (max-width: 414px) {
  * body #loginUser img {
    width: 32%;
  }
}

@media (max-width: 414px) {
  * body #loginUser h3 {
    font-size: 15px;
  }
}

* body #loginUser input {
  width: 30%;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  display: block;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* body #loginUser input :focus {
  border: 1px solid gray;
}

@media (max-width: 414px) {
  * body #loginUser input {
    width: 50%;
    padding: 10px;
    margin: 8px;
  }
}

* body #loginUser button {
  width: 30%;
  background: #00aeff;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  padding: 15px;
  color: white;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

* body #loginUser button :hover {
  background: #fd0000;
}

@media (max-width: 414px) {
  * body #loginUser button {
    width: 50%;
    padding: 10px;
    line-height: 15px;
  }
}

* body #logoutUser {
  font-family: "Baloo Paaji 2", cursive;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

* body #logoutUser button {
  width: 30%;
  background: #00aeff;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  padding: 15px;
  color: white;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

* body #logoutUser button :hover {
  background: #fd0000;
}

@-webkit-keyframes midPic {
  0%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}

@keyframes midPic {
  0%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}
/*# sourceMappingURL=index_login.css.map */