body {
    margin: 0 auto;
    padding: 0;
}

a {
    color: black;
}
.nav_all{
    display: flex;
    align-items: center;
}
.navbar {
    height: 54px;
    font-size: 13px;   
    }

.navbar_left {
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.nav_left_list {
    list-style-type: none;
    display: flex;
    text-align: center;
}

.ms_logo img {
    width: 100px;
}

.nav_right_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner_all {
    position: relative;
    }

.banner_all picture img {
    width: 100%;
}

.banner_title {
    position: absolute;
    top: 120px;
    left: 130px;
    margin: 0 auto;
}

.banner_title .banner_sec_text {
    font-size: 15px;
    padding: 10px;
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    background-color: black;
}
.main_all{
    box-sizing: border-box;
    max-width: calc(1600px + 10%);
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.main_all h3{
    font-size: 15px;
}
.list_inner p{
    font-size: 13px;
}
.list_inner{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.main_all img{
    width: 100%;
}
.main_all .inner_left {
    display: flex;
    justify-content: space-between;
}
.left_section1{
    margin: 48px 0 48px 0;
}
.left_section2{
    margin: 48px 0 48px 0;
}
.main_all .inner_right {
    display: flex;
    justify-content: space-between;
}
.right_section1{
    margin: 48px 0 48px 0;
}
.right_section2{
    margin: 48px 0 48px 0;
}