@import "../css/number9";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: rgb(243, 218, 164);
}

.left_menu {
  width: 250px;
  height: 80vh;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  transform: translateX(50px) translateY(50px);
  position: fixed;
  border-radius: 30px;
  box-shadow: 5px 4px 14px 3px rgba(0, 0, 0, 0.65);
  z-index: 99;

  .left_menu_logo {
    width: 100px;
    height: 100px;
    background-color: rgb(48, 46, 46);
    // background-image: url();
    // background-size: cover;
  }
  .left_menu_link {
    margin: 0 auto;
    padding: 0;
    font-size: 30px;
    color: white;
  }

  .outside_link {
    .ubereats_link_icon {
      width: 60px;
      height: 60px;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4SaY_BzzyGckBNzt-jPLnYbz8ldfM3aiX80QARqdd-zqmPo-p&s");
      background-size: cover;
    }
    .foodpand_link_icon {
      width: 60px;
      height: 60px;
      background-image: url("https://is3-ssl.mzstatic.com/image/thumb/Purple113/v4/c3/37/a0/c337a0fe-bc2e-22ec-c85e-42c28d2cd1cf/AppIcon-0-1x_U007emarketing-0-0-85-220-0-5.png/246x0w.png");
      background-size: cover;
    }
  }
}

.banner_img {
  width: 100%;
  height: 100vh;
  background-color: gray;
  // background-image: url();
  // background-size: cover;
}

.mid_menu_all {
  position: relative;

  .menu_right_title {
    width: 200px;
    height: 100vh;
    background-color: rgb(63, 63, 63);
    position: absolute;
    right: 0;

    p {
      writing-mode: vertical-lr;
      font-size: 130px;
      color: white;
      margin: 0;
    }
  }

  .mid_menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .mid_menu_title {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 30px;
      background-color: gray;
      color: white;
      box-sizing: border-box;
    }
    .mid_menu_section:nth-child(1) {
      margin-left: 150px;
    }
    .mid_menu_section {
      .mid_menu_link {
        width: 200px;
        height: 200px;
        font-size: 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(73, 73, 73);
        border-radius: 50%;
        list-style-type: none;
        text-decoration: none;
        // 取消連結底線
      }
    }
  }
}

.mid_ad_img {
  width: 100%;
  height: 20vh;
  background-color: gray;
  // background-image: url();
  // background-size: cover;
}

.stone_list {
  font-family: "Noto Sans TC", sans-serif;
  // width: 100%;
  // height: 100vh;
  // background-color: rgb(248, 214, 169);

  .stone_time_line {
    margin: 0 auto;
    .stone_link {
      li {
        box-sizing: border-box;
        width: 40%;
        padding: 20px 0;
        position: relative;
        // relative對應after時間軸

        :hover {
          background-color: rgb(252, 218, 193);
        }

        a {
          display: block;
          border: 1px solid #aaa;
          background-color: #fff;
          box-sizing: border-box;
          text-decoration: none;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 3px 3px 5px gray;

          h2 {
            color: #333;
            font-weight: 700;
            // 字體粗細
          }
          h2::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100px;
            background-color: gray;
          }

          h5 {
            color: #666;
            font-weight: 100;
            :hover {
              color: white;
            }
          }
        }
      }
      li::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        margin: auto;
        border-radius: 50%;
        background-color: gray;

        // 時間軸圓點
      }
      li::after {
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: gray;
        z-index: -1;
        // 時間軸中線
      }

      // 均分單數靠左
      li:nth-child(odd) {
        float: left;
        padding-right: 100px;
      }
      li:nth-child(odd)::before {
        right: 0px;
        // 圓點位置
      }
      li:nth-child(odd)::after {
        right: 0px;
        // 圓點位置
      }

      // 均分雙數靠右
      li:nth-child(even) {
        float: right;
        padding-left: 100px;
        transform: translateY(50%);
        // 向下移動右邊標籤
      }
      li:nth-child(even)::before {
        left: 0;
      }
      li:nth-child(even)::after {
        left: 0;
      }
    }
  }
}
