* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  padding: 0;
}
.navall {
  background-color: #17a2b8;
}

@media (max-width: 770px) {
  .banner {
    height: 200px;
  }
  h1 {
    font-size: 30px;
  }
  h6 {
    font-size: 15px;
  }
}
@media (max-width: 330px) {
  h1 {
    font-size: 15px;
  }
  h6 {
    font-size: 10px;
  }
  .banner {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  .connet_info {
    width: 100%;
    height:50%;
  }
  .photo {
    width: 100%;
    height:50%;
  }
}

.banner {
  transform: translateY(56px);
  width: 100vw;
  height: 400px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connet_info {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  background-image: url("https://cdn.pixabay.com/photo/2020/02/02/23/50/nature-4814418_1280.jpg");
  background-position: center;
  background-size: cover;
  width: 65%;
  height: 100%;
}
