@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

* body {
  margin: 0 auto;
  padding: 0;
}

* body .background_img {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.pixabay.com/photo/2020/02/02/23/50/nature-4814418_1280.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 1140px) {
  * body .background_img {
    width: 100%;
    height: 1700px;
    background-image: none;
  }
}

@media (max-width: 540px) {
  * body .background_img {
    height: 1140px;
  }
}

* body .background_img .container-all {
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 8%;
  left: 20%;
}

@media (max-width: 1140px) {
  * body .background_img .container-all {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
  }
}

* body .background_img .container-all .left_info {
  width: 40%;
  height: 100%;
  border-radius: 8px 0 0 8px;
  background-image: url("https://cdn.pixabay.com/photo/2014/04/07/16/51/leaf-318743_1280.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 45%, 40% 90%, 0 73%);
          clip-path: polygon(0 0, 100% 0, 90% 45%, 40% 90%, 0 73%);
}

@media (max-width: 1140px) {
  * body .background_img .container-all .left_info {
    width: 100%;
    height: 50%;
    border-radius: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 70%, 40% 100%, 0 90%);
            clip-path: polygon(0 0, 100% 0, 95% 70%, 40% 100%, 0 90%);
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .left_info {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

* body .background_img .container-all .left_info .my_photo_line {
  width: 100%;
  height: 50%;
  background-color: white;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 68%, 43% 80%, 4% 55%);
          clip-path: polygon(30% 0, 100% 0, 100% 68%, 43% 80%, 4% 55%);
}

@media (max-width: 1140px) {
  * body .background_img .container-all .left_info .my_photo_line {
    height: 100%;
    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 68%, 43% 80%, 20% 60%);
            clip-path: polygon(30% 0, 100% 0, 100% 68%, 43% 80%, 20% 60%);
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .left_info .my_photo_line {
    height: 100%;
    margin: 0 auto;
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  }
}

* body .background_img .container-all .left_info .my_photo_line .my_photo {
  width: 100%;
  height: 100%;
  background-image: url("../img/P_20200206_093700aw.jpg");
  background-position: initial;
  background-size: cover;
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 62%, 46% 76%, 7% 53%);
          clip-path: polygon(35% 0, 100% 0, 100% 62%, 46% 76%, 7% 53%);
}

@media (max-width: 1140px) {
  * body .background_img .container-all .left_info .my_photo_line .my_photo {
    background-position: center;
    -webkit-clip-path: polygon(36% 0, 100% 0, 100% 62%, 42% 75%, 23% 56%);
            clip-path: polygon(36% 0, 100% 0, 100% 62%, 42% 75%, 23% 56%);
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .left_info .my_photo_line .my_photo {
    -webkit-clip-path: none;
            clip-path: none;
    width: 100%;
    background-position: -80px 30px;
  }
}

* body .background_img .container-all .left_info h1 {
  width: 100px;
  margin: 0 30px;
  padding: 3px;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  border: 2px solid white;
  border-radius: 10px;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .left_info h1 {
    position: absolute;
    top: 30px;
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .left_info h1 {
    font-size: 35px;
    border: 1px solid white;
    top: 50px;
    right: 0px;
  }
}

* body .background_img .container-all .left_info h3 {
  margin: 0 30px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .left_info h3 {
    position: absolute;
    top: 150px;
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .left_info h3 {
    margin: 0 10px;
    font-size: 25px;
    right: 0;
  }
}

* body .background_img .container-all .left_info h6 {
  margin: 0 35px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .left_info h6 {
    position: absolute;
    top: 190px;
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .left_info h6 {
    margin: 0 10px;
    font-size: 12px;
    right: 0;
  }
}

* body .background_img .container-all .right_info {
  width: 60%;
  height: 100%;
  padding: 22px;
  border-radius: 0 8px 8px 0;
  font-family: "Noto Sans TC", sans-serif;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info {
    width: 100%;
    height: 50%;
    border-radius: 0;
  }
}

* body .background_img .container-all .right_info h3 {
  width: 70%;
  height: 35px;
  border-radius: 15px;
  padding-left: 12px;
  color: white;
  background: linear-gradient(135deg, #00929c 20%, rgba(141, 219, 117, 0.15) 50%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info h3 {
    height: 55px;
    font-size: 40px;
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .right_info h3 {
    height: 35px;
    font-size: 25px;
    background: linear-gradient(135deg, #00929c 20%, rgba(141, 219, 117, 0.15) 60%, rgba(0, 0, 0, 0) 100%);
  }
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info .dropdown-divider {
    display: none;
  }
}

* body .background_img .container-all .right_info h6 {
  font-size: 15px;
  text-align: justify;
  line-height: 25px;
  color: black;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info h6 {
    font-size: 25px;
    line-height: 45px;
    width: 90%;
    margin: 50px auto;
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .right_info h6 {
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    margin: 15px auto;
  }
}

* body .background_img .container-all .right_info .swiper-container {
  width: 100%;
  height: 35%;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info .swiper-container {
    height: 50%;
    margin-top: 50px;
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .right_info .swiper-container {
    height: 50%;
    margin-top: 15px;
  }
}

* body .background_img .container-all .right_info .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .background_img .container-all .right_info .swiper-container .swiper-slide a {
  text-align: center;
  font-size: 10px;
  color: white;
  font-family: "Noto Serif TC", serif;
}

* body .background_img .container-all .right_info .swiper-container .night_img {
  width: 100%;
  height: 100%;
  background-image: url("../img/Harbor no.9.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

* body .background_img .container-all .right_info .swiper-container .coms_img {
  width: 100%;
  height: 100%;
  background-image: url("../img/Microsoft網站練習.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

* body .background_img .container-all .right_info .swiper-container .parallax_img {
  width: 100%;
  height: 100%;
  background-image: url("../img/Parallax視差與Anchors錨點.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

* body .background_img .container-all .right_info .swiper-container .sections_img {
  width: 100%;
  height: 100%;
  background-image: url("../img/綜合練習.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

* body .background_img .container-all .right_info .swiper-container .mobirise_img {
  width: 100%;
  height: 100%;
  background-image: url("../img/Class-Mobirise.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

* body .background_img .container-all .right_info .swiper-container .api_img {
  width: 100%;
  height: 100%;
  background-image: url("../img/jQuery AjexAPI串接.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

* body .background_img .container-all .right_info .swiper-container .inscone_img {
  width: 100%;
  height: 100%;
  background-image: url("../img/in-scone.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

* body .background_img .container-all .right_info .swiper-container .swiper-pagination {
  display: none;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info .swiper-container .swiper-pagination {
    display: block;
  }
}

* body .background_img .container-all .right_info .swiper-container .swiper-button-next {
  top: 80%;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info .swiper-container .swiper-button-next {
    display: none;
  }
}

* body .background_img .container-all .right_info .swiper-container .swiper-button-prev {
  top: 80%;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info .swiper-container .swiper-button-prev {
    display: none;
  }
}

* body .background_img .container-all .right_info .copyright {
  padding-top: 10px;
  font-size: 12px;
  color: #949494;
  text-align: center;
}

@media (max-width: 1140px) {
  * body .background_img .container-all .right_info .copyright {
    height: 50px;
    margin-top: 20px;
  }
}

@media (max-width: 540px) {
  * body .background_img .container-all .right_info .copyright {
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2020/02/02/23/50/nature-4814418_1280.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
    color: white;
  }
}
/*# sourceMappingURL=resume_new.css.map */