<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my Websit</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Rock+Salt&display=swap"
        rel="stylesheet">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.js'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css' />

    <link rel="stylesheet" href="/css/index_vue.css">
</head>

<body>
    <div id="container">

        <nav class="navbar">
            <div class="logo">Evan Hsiao</div>

            <ul class="barList">
                <li v-for="barlist in navBar">
                    <i :class="barlist.icon"></i>
                    <a :href="barlist.href" class="barItem"  @click="closeMenu"> {{barlist.name}} </a>
                </li>
            </ul>

            <div class="hanBar" @click="hanShowAct">
                <span class="one" ></span>
                <span class="two" ></span>
                <span class="three"></span>
            </div>
        </nav>

        <section class="banner">
            <img :src="banImgSrc[index]">
            <a class="leftBtm btn" @click="prev" v-show="index!=0">Prev</a>
            <a class="rightBtm btn" @click="next" v-show="index<banImgSrc.length-1">Next</a>

            <div class="bannerInfo">
                <h1>Welcome to</h1>
                <h2>My Website</h2>
                <a href="#aboutMe" class="aboutBtn">About Me</a>
            </div>
        </section>

        <section class="protfolio" id="protfolio">
            <h2 class="title">Portfolio</h2>
            <div class="card" style="width: 18rem" v-for="porFile in portfolioFile">
                <img :src="porFile.src" class="cardImg" alt="...">
                <div class="cardBody">
                    <h5> {{porFile.cardTitle}} </h5>
                    <p> {{porFile.cardText}} </p>
                    <a :href="porFile.href" class="linkBtn">進入連結</a>
                </div>
            </div>

        </section>

        <section class="aboutMe" id="aboutMe">
            <h2 class="title">About Me</h2>
        </section>

        <section class="contact" id="contactMe">
            <h2 class="title">Contact</h2>
        </section>

    </div>

    <footer class="footer">

    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.js'></script>
    <script src="/script/myScript/index_vue.js"></script>
</body>

</html>